[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
pygame = ">=2.0.0.dev1"
aiohttp = "*"
websockets = "*"
yarl = "*"
async_timeout = "*"

[requires]
python_version = "3.7"
